<div class="sidebar">
    <h3 class="sidebar-heading">Menu</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-user"></i> Utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-graduation-cap"></i> Étudiant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-chalkboard-teacher"></i> Enseignant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user-friends"></i> Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-school"></i> Classe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-book"></i> Matières</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-book-open"></i> Cours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-clipboard-check"></i> Présence</a>
      </li>
    </ul>
</div>