<div class="sidebar">
    <h3 class="sidebar-heading"><a class="nav-link" href="{% url 'admin_dashboard' %}">Menu</a></h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-user"></i>
          Users
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_user' %}">Add Users</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_users' %}">Manage Users</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-graduation-cap"></i>
          Students
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_student' %}">Add Student</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_students' %}">Manage students</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-chalkboard-teacher"></i>
          Teachers
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_teacher' %}">Add Teacher</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_teachers' %}">Manage Teachers</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-user-friends"></i>
          Parents
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_parent' %}">Add Parent</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_parents' %}">Manage Parents</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-school"></i>
          Classes
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_study_class' %}">Add Class</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_classes' %}">Manage Classes</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-book"></i>
          Subjects
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_subject' %}">Add Subject</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_subjects' %}">Manage Subjects</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-book-open"></i>
          Courses
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'create_course' %}">Add Course</a></li>
          <li><a class="dropdown-item" href="{% url 'manage_courses' %}">Manage Courses</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-clipboard-check"></i> Attendances</a>
      </li>
    </ul>
</div>