{% extends 'admin/master.html' %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row mt-4" id="listClasses" style="margin-left:110px;">
            <div class="col-md-10">
                <div class="form-group mt-3 mb-3">
                    <form method="GET" action="{% url 'manage_classes' %}" class="d-flex">
                        <input type="text" name="q" placeholder="Search..." class="form-control me-2 w-50">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="title">
                            <h5 class="card-title">List of Classes</h5>
                        </div>
                        <div class="createUser ms-auto">
                            <a href="{% url 'create_study_class' %}" class="btn btn-primary btn-sm">Add New Class</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class Name</th>
                                    <th>Section</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for class_instance in page_obj %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ class_instance.class_name }}</td>
                                    <td>{{ class_instance.section }}</td>
                                    <td>
                                        <a href="{% url 'edit_class' class_instance.id %}" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="{% url 'delete_class' class_instance.id %}" class="btn btn-danger btn-sm">Delete</a>
                                        <a href="{% url 'detail_class' class_instance.id %}" class="btn btn-primary btn-sm">Detail</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <div class="pagination justify-content-md-center">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; First</a>
                                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
