{% extends 'admin/master.html' %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row mt-4" id="listStudents">
            <div class="col-md-12">
                <div class="form-group mt-3 mb-3">
                    <form method="GET" action="{% url 'manage_users' %}" class="d-flex">
                        <input type="text" name="q" placeholder="Rechercher..." class="form-control me-2 w-50">
                        <button type="submit">Rechercher</button>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="title">
                            <h5 class="card-title">List of Students</h5>
                        </div>
                        <div class="createUser ms-auto">
                            <a href="{% url 'create_user' %}" class="btn btn-primary btn-sm">Add New User</a>
                        </div>
                    </div>
                    <div class="card-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Username</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for user in page_obj %}
                              <tr>
                                  <td>{{ user.username }}</td>
                                  <td>{{ user.first_name }}</td>
                                  <td>{{ user.last_name }}</td>
                                  <td>{{ user.email }}</td>
                                  <td>{{ user.phone_number }}</td>
                                  <td>
                                    <a href="{% url 'edit_user' user.id %}" class="btn btn-primary btn-sm">Update</a>
                                    <a href="{% url 'delete_user' user.id %}" class="btn btn-danger btn-sm">Delete</a>
                                  </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>

                        <div>
                          <div class="pagination justify-content-md-center">
                            <span class="step-links">
                              {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; First</a>
                                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                              {% endif %}

                              <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                              </span>

                              {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                              {% endif %}
                            </span>
                          </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}