<!-- Page Content-->
{% extends 'layout.html' %}


{% block content %}

    <div class="header">
        {% include "inc/header.html" %}
    </div>

    <section class="pt-4">
        <div class="container px-lg-5">
                    <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-md-6">
                  <div class="feature-block" style="padding: 20px; border: 1px solid #ccc;
                                                      border-radius: 10px;
                                                      margin-bottom: 20px;"
                  >
                    <i class="fas fa-user-graduate feature-icon"></i>
                    <h3>Collection of school data</h3>
                    <p>Description de la collecte des données scolaires.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-block" style="padding: 20px; border: 1px solid #ccc;
                                                      border-radius: 10px;
                                                      margin-bottom: 20px;"
                  >
                    <i class="fas fa-chart-bar feature-icon"></i>
                    <h3>School data analysis</h3>
                    <p>Description de l'analyse des données scolaires.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-block" style="padding: 20px; border: 1px solid #ccc;
                                                      border-radius: 10px;
                                                      margin-bottom: 20px;"
                  >
                    <i class="fas fa-database feature-icon"></i>
                    <h3>School data management</h3>
                    <p>Description de la gestion des données scolaires.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-block" style="padding: 20px; border: 1px solid #ccc;
                                                      border-radius: 10px;
                                                      margin-bottom: 20px;"
                  >
                    <i class="fas fa-chart-line feature-icon"></i>
                    <h3>Prediction of school performance</h3>
                    <p>Description of the prediction of school performance.</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}